@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    margin: 0 0 $base-size 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
